h1 {
    color: rgba(208, 10, 10, 0.95);
    text-shadow: 1px 1px 0px #000000
}

html, body { height : 80%; }

body{
    background-image: url("./assets/bg_motus.jpg");
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.page_principale{
    display: flex;
    flex: 1;
    flex-direction : column ;
    justify-content : center ;
    width: 100%;
    height: 100%;
}
.flexTitre {
    display : flex;
    width : 100%;
    height : 10%;
    align-items : center;
    justify-content : space-evenly;
    flex-direction : column-reverse;
    margin-bottom: 10px;
}
.remplissage{
    display : flex ;
    flex-direction : column ;
    justify-content : space-evenly;
    align-items : center;
    width : 100% ;
    height: 100%;
    margin: auto;
}

.flexjeu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
    border-style: solid;
    background-color: #0bccef;
    margin: auto;
    /*padding: 1rem;*/
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    text-align: center;
}


.boutonJouer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 10em;
    height: 5em;
    /*margin-top: 50%;*/
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

body {
    padding: 2em;
}
#grilleMotus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.motusLigne{
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.motusBoite{
    background-color: blueviolet;
    padding: 2px;
    margin: 2px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
}

#propositionMot.motusBoite{
    background-color: red;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#boutonValider{
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color:#44c767;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

input{
    border: 0;
    margin: 0;
    padding: 0;
}

.noselect { /* Désactive la selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}